
.head{
  background-color: #479130;
}
.search{
  background-color: rgb(128, 15, 0);
}


.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e0dd05ea;
  }
  
  .li {
    float: left;
    border-right:1px solid rgb(5, 6, 7);
  }
  
  .li:last-child {
    border-right: none;
  }
  
  .li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    background-color: #4CAF50;
  }
  .content{
    display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  }
  .item1 {
    grid-row-end: span 3;
  }
  .item2{
    padding: 10px;
    align-items: center;
  }
  .khobor{

    width: 1265px;
    background-color: rgb(70, 216, 2);
  }
  .container{
    display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  }
  .notice{
    grid-column-end: span 3;
    background-color: rgb(100, 23, 23);
    width: 1253px;
  }
  .list {
    list-style-image: url('https://icons.iconarchive.com/icons/papirus-team/papirus-apps/16/chromium-app-list-icon.png');
  }
  .container1{
    display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  }
  .card{
    background-color: rgb(9, 219, 104);
    width: 400px;
    box-shadow: 5px 3px black;
  }
  .all{
    position: relative;
    bottom: 434px;
  }
  .all1{
    position: relative;
    bottom: 400px;
  }